.register {
  display: flex;
  background-color: var(--bodyColor);
}
.registe-right {
  width: 48.8vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.registerImage {
  width: 48.5vw;
  height: 100%;
}
.register-left {
  width: 45vw;
  height: auto;
  padding: 2vw 3.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.register form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3vh;
  gap: 0.5vh;
}
.register h1 {
  font-size: 2vw;
  color: var(--fontColor);
  letter-spacing: 0.07vw;
  margin-bottom: 2vh;
}
.register input {
  width: 43vw;
  height: 8vh;
  padding-left: 10px;
  border-radius: 0.7vw;
  border: 1px solid;
  border: 1px solid var(--darkBleu);
  background-color: var(--searchBareColor);
}
.register input::placeholder {
  color: black;
  font-size: 1.1vw;
}
.register input:focus {
  outline: 0.2vw solid #adb5bd;
}
.register label {
  font-size: 22px;
  margin-left: 0.4vw;
  margin-bottom: 1vh;
  font-weight: bold;
  color: var(--fontColor);
  letter-spacing: 0.05vw;
}
.register button {
  background-color: var(--mainBleu);
  width: 36vw;
  height: 7vh;
  border-radius: 0.7vw;
  border: 1px solid #4b5257;
  margin-left: 4vw;
  margin-top: 3vh;
  color: var(--bodyColor);
  font-size: 1.1vw;
  font-weight: bold;
  letter-spacing: 0.07vw;
}
.register .logintLink {
  margin-top: 20px;
  font-size: 22px;
  text-decoration: none;
}
.register-left a {
  color: #4f565c;
  text-decoration: none;
}
.userIcon {
  position: relative;
  top: -6.5vh;
  left: 41vw;
  font-size: 1.5vw;
}
.emailIcon {
  position: relative;
  top: -6.5vh;
  left: 41vw;
  font-size: 1.6vw;
}
.passwordIcon {
  position: relative;
  top: -6.5vh;
  left: 41vw;
  font-size: 1.6vw;
}
.logintLink {
  font-size: 0.8vw;
  color: var(--fontColor);
  letter-spacing: 0.07vw;
  margin-bottom: 2vh;
}
