.home-products-position {
  position: absolute;
  top: 18vh;
  left: 13vw;
  color: var(--fontColor);
}
/* ///////////////////////////// */
.home-products-display {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2.3vw;
}
.home-product-image {
  width: 100%;
  height: 22vh;
  height: 8.4em;
  border-bottom: 1px solid var(--darkBleu);
}
/* ///////////////////////////// */
.home-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  border: 1px solid var(--darkBleu);
  width: 12em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.home-product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2em;
  margin: 0.4em 0em 0.4em;
  font-size: 1.1em;
  font-weight: lighter;
  padding-left: 0.3em;
}
.home-prod-name-price {
  display: flex;
  justify-content: space-between;
  font-weight: lighter;
}
/* shop icone */
.home-product-shop {
  width: 2em;
  height: 1.9em;
  border: 1px solid var(--darkBleu);
  border-radius: 50%;
}
.home-prod-likes {
  display: flex;
  gap: 0.4em;
  font-size: 1.1em;
}
.home-prod-like-icon-liked {
  color: rgb(30, 99, 228);
}
.home-prod-unlike-icon {
  color: var(--darkBleu);
}
.home-pagination {
  margin-top: 1.5em;
}
.home-prod-detail-btn {
  background-color: var(--mainBleu);
  border: none;
  border-radius: 0.4em;
  width: 6.5em;
  height: 1.45em;
  color: var(--bodyColor);
  font-size: 0.8em;
  letter-spacing: 0.08vw;
  margin-left: 3.5em;
  margin-bottom: 0.4em;
}
/* limit product info size to  ot ruin the css */
.home-products .home-prod-name-limit {
  max-width: 6.5em;
  overflow: hidden;
}
.home-products .home-prod-info-limit {
  max-width: 12.8vw;
  overflow: hidden;
}
.home-products .home-prod-price-limit {
  max-width: 3.6vw;
  overflow: hidden;
}
/* categories filter button */
.home-category-dropdown {
  margin-left: 60em;
  margin-bottom: 1em;
}
.home-categry-btn {
  background-color: var(--mainBleu);
  border: 0.1vw solid var(--darkBleu);
  border-radius: 0.6em;
  color: var(--bodyColor);
  padding: 0.6em 1em;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.8em;
  width: 12em;
}
.home-categry-btn-content {
  position: absolute;
  background-color: var(--searchBareColor);
  border: 0.1vw solid var(--darkBleu);
  border-radius: 0.6em;
  color: black;
  min-width: 9.5em;
  box-shadow: 0 0.4em 0.8em 0 rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.home-categry-checkbox {
  padding: 0.8vh 1vw;
  padding: 0.3em 0.9em;
}
.home-categry-checkbox input,
label {
  cursor: pointer;
}
/* Responsive design for phones */
@media (min-width: 160px) and (max-width: 420px) {
  .home-products-position {
    position: absolute;
    top: 7em;
    left: 13vw;
    color: var(--fontColor);
  }
  .home-products-display {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.3vw;
  }
  .home-product-image {
    width: 100%;
    height: 7em;
    border-bottom: 1px solid var(--darkBleu);
  }
  .home-products {
    width: 8.9em;
  }
  .home-product-info {
    gap: 0.2em;
    margin: 0.4em 0em 0.4em;
    font-size: 0.9em;
    font-weight: lighter;
    padding-left: 0.3em;
  }
  .home-prod-name-price {
    display: flex;
    justify-content: space-between;
    gap: 0.7em;
  }
  .home-product-shop {
    width: 4em;
    height: 4em;
    border: 1px solid var(--darkBleu);
    border-radius: 50%;
  }
  .home-prod-likes {
    display: flex;
    gap: 0.4em;
    font-size: 0.9em;
  }
  .home-prod-detail-btn {
    background-color: var(--mainBleu);
    border: none;
    border-radius: 0.4em;
    width: 6em;
    height: 2.1em;
    color: var(--bodyColor);
    font-size: 2em;
    letter-spacing: 0.08vw;
    margin-left: 4.6em;
    margin-bottom: 0.4em;
  }
  .home-products .home-prod-name-limit {
    max-width: 6em;
    overflow: hidden;
  }
  .home-products .home-prod-info-limit {
    max-width: 9em;
    overflow: hidden;
  }
  .home-products .home-prod-price-limit {
    max-width: 2.25em;
    overflow: hidden;
  }
  /* categories filter button */
  .home-category-dropdown {
    margin-left: 11.5em;
    margin-bottom: 1em;
  }
  .home-categry-btn {
    background-color: var(--mainBleu);
    border: 0.1vw solid var(--darkBleu);
    border-radius: 0.6em;
    color: var(--bodyColor);
    padding: 0.6em 1em;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.6em;
    width: 12em;
  }
  .home-categry-btn-content {
    position: absolute;
    background-color: var(--searchBareColor);
    border: 0.1vw solid var(--darkBleu);
    border-radius: 0.6em;
    color: black;
    min-width: 8.8em;
    box-shadow: 0 0.4em 0.8em 0 rgba(0, 0, 0, 0.2);
    z-index: 10;
    font-size: 0.8em;
  }
  .home-categry-checkbox {
    padding: 0.8vh 1vw;
    padding: 0.3em 0.9em;
  }
}
