.shop-sideBar {
  background-color: var(--mediumBleu);
  width: 13vw;
  height: 89.9vh;
  /* position: fixed; */
}
.shop-sideBar li {
  margin-bottom: 8vh;
  padding-top: 3vh;
  padding-bottom: 3vh;
  display: flex;
  align-items: center;
  gap: 0.8vw;
  font-size: 1.25vw;
  color: var(--fontColor);
}
.sideBar-list {
  padding-left: 1vw;
}
.sideBar-list:hover {
  background-color: var(--NBbackGroundColor);
  background-image: var(--NBbackGroundImage);
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.284);
  border-radius: 0.3vw;
  transition: var(--shortTransition);
}

/* shop name / shop name / shop name / shop name / shop name / shop name  */

.shop-icon {
  color: var(--darkBleu);
  font-size: 1.5vw;
}
/* fix the hover effect on the icones */
.shop-name {
  border: 1px solid var(--lightBleu);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.284);
  height: 13vh;
  background-color: var(--shopBackGroundColor);
  background-image: var(--shopBackGroundImage);
  margin-bottom: 9vh;
  display: flex;
  justify-content: center;
}
.shop-logo {
  width: 3vw;
  border: 1px solid var(--darkBleu);
  border-radius: 50%;
}
.active {
  background-color: aqua;
}
