.image-display {
  position: absolute;
  top: 25vh;
  left: 15vw;
}
.product-image {
  width: 100%;
  height: 20vh;
  border: 1px solid var(--darkBleu);
}
.loadedImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: solid 0.5px rgb(119, 127, 148);
 
  width: 12vw;
}
.imageUpload{
  position: absolute;
  top: 15vh;
  left: 15vw;
}