.shop-sideBar {
  background-color: var(--mediumBleu);
  width: 12vw;
  height: 89.9vh;
  position: fixed;
  top: 10.14vh;
}
.shop-sideBar li {
  padding-top: 3vh;
  padding-bottom: 3vh;
  display: flex;
  align-items: center;
  gap: 0.6vw;
  font-size: 1.21vw;
  color: var(--fontColor);
}
.sideBar-list {
  padding-left: 0.8vw;
  margin-bottom: 8vh;
}
.sideBar-list:hover {
  background-color: var(--NBbackGroundColor);
  background-image: var(--NBbackGroundImage);
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.284);
  border-radius: 0.3vw;
  transition: var(--shortTransition);
}

/* fix the hover effect on the icones */
.shop-icon {
  color: var(--darkBleu);
  font-size: 1.3vw;
}
.active {
  background-color: aqua;
}
