.switch {
  font-size: 17px;
  position: absolute;
  top: 2.5vh;
  left: 50vw;
  display: inline-block;
  width: 3.5vw;
  height: 5.1vh;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 30px;
  outline: 1px solid var(--border);
}
.slider:before {
  position: absolute;
  content: "";
  height: 3.5vh;
  width: 1.5vw;
  border-radius: 20px;
  left: 0.3vw;
  bottom: 0.8vh;
  background-color: var(--text-primary);
  transition: 0.4s;
}
input:checked + .slider {
background-color: var(--accent);
}
input:checked + .slider:before {
  transform: translateX(1.4vw);
}
