.navBar {
  display: flex;
  gap: 8vw;
  width: 94vw;
  align-items: center;
  background-color: var(--mediumBleu);
  padding: 0.5vh 3vw;
  border-bottom: 1px solid var(--darkBleu);
  color: var(--fontColor);
  position: fixed;
  z-index: 999;
}
.home-logo {
  width: 11vw;
  height: 8.6vh;
}

.home-messangerie {
  border: 1px solid var(--darkBleu);
  background-color: var(--lightBleu);
  border-radius: 50%;
  padding: 0.8vw;
  cursor: pointer;
  color: var(--darkBleu);
}

.languag {
  border: 1px solid var(--darkBleu);
  background-color: var(--lightBleu);
  border-radius: 50%;
  padding: 0.5vw;
  font-size: 1.3vw;
  margin-right: 15vw;
  cursor: pointer;
  /* color: var(--darkBleu); */
}
