.navBar {
  display: flex;
  gap: 8vw;
  width: 94vw;
  align-items: center;
  background-color: var(--mediumBleu);
  padding: 0.5vh 3vw;
  border-bottom: 1px solid var(--darkBleu);
  color: var(--fontColor);
  position: fixed;
  z-index: 999;
}
.home-logo {
  width: 11vw;
  height: 8.6vh;
}
.searchBar input {
  width: 25vw;
  height: 5vh;
  border: none;
  border-radius: 7px;
  padding-left: 2.4vw;
  border: 1px solid var(--darkBleu);
  margin-right: 1.5vw;
  background-color: var(--searchBareColor);
}
.searchBar  input::placeholder {
  color: black;
  font-size: 1vw;
  letter-spacing: 0.05vw;
}
.searchIcon {
  position: absolute;
  left: 22.8vw;
  top: 3.8vh;
  color: black;
}
.searchBar input:focus {
  outline: 1px solid var(--darkBleu);
}

.home-messangerie {
  border: 1px solid var(--darkBleu);
  background-color: var(--lightBleu);
  border-radius: 50%;
  padding: 0.8vw;
  cursor: pointer;
  color: var(--darkBleu);
}

.languag {
  border: 1px solid var(--darkBleu);
  background-color: var(--lightBleu);
  border-radius: 50%;
  padding: 0.5vw;
  font-size: 1.3vw;
  margin-right: 15vw;
  cursor: pointer;
  /* color: var(--darkBleu); */
}
