.navBar {
  display: flex;
  gap: 9vw;
  align-items: center;
  background-color: var(--mediumBleu);
  padding: 0.5vh 4vw;
  border-bottom: 1px solid var(--darkBleu);
}
.home-logo {
  width: 5vw;
  height: 9vh;
}
.searchBar input {
  width: 25vw;
  height: 5vh;
  border: none;
  border-radius: 7px;
  padding-left: 2.4vw;
  border: 1px solid var(--darkBleu);
}
.searchIcon {
  position: absolute;
  left: 18.8vw;
  top: 3.8vh;
}
.searchBar input:focus {
  outline: 1px solid var(--darkBleu);
}
.darkLightMode {
  /* background-color: azure; */
  border: 1px solid var(--darkBleu);
  border-radius: 2vw;
  padding: 0.3vh 0.2vw;
  display: flex;
  gap: 1vw;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.darkMode {
  background-color: var(--lightBleu);
  color: rgb(4, 4, 113);
  border-radius: 50%;
  padding: 1vh;
}
.lightMode {
  background-color: var(--lightBleu);
  color: rgb(215, 208, 0);
  border-radius: 50%;
  padding: 1vh;
}
.home-messangerie {
  border: 1px solid var(--darkBleu);
  background-color: var(--lightBleu);
  border-radius: 50%;
  padding: 0.5vw;
  cursor: pointer;
}
.languag {
  border: 1px solid var(--darkBleu);
  background-color: var(--lightBleu);
  border-radius: 50%;
  padding: 0.5vw;
  font-size: 1.3vw;
  margin-right: 15vw;
  cursor: pointer;
}
.profil {
  display: flex;
  gap: 1vw;
  border: 1px solid var(--darkBleu);
  background-color: var(--lightBleu);
  border-radius: 1vw;
  padding: 0.7vh 0.8vw;
  width: 9.5vw;
  font-size: 0.8vw;
  position: absolute;
  right: 3vw;
  top: 0.8vw;
  z-index: 999;
  backdrop-filter: blur(10px);
  cursor: pointer;
}
.profil li,
a {
  list-style: none;
  color: black;
  text-decoration: none;
  font-size: 1.3vw;
  padding-top: 0.2vh;
  margin-top: 0.3vh;
}
.profil h1 {
  list-style: none;
  color: black;
  text-decoration: none;
  font-size: 1.3vw;
  padding-top: 1vh;
}
.profil ul :hover {
  background-color: #eef7ff;
  text-decoration: underline;
  border-radius: 0.3vw;
  transition: var(--shortTransition);
}
.profil-pic {
  width: 2.5vw;
  height: 5vh;
  border: 1px solid var(--darkBleu);
  border-radius: 50%;
}
