.sideBar {
  background-color: var(--mediumBleu);
  width: 9.3vw;
  height: 90vh;
}
.sideBar-top li {
  margin-bottom: 15vh;
  padding-top: 4vh;
  padding-bottom: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8vw;
  padding-left: 0.5vw;
  font-size: 1.25vw;
}
.sideBar-bottom li {
  margin-top: 2.5vh;
  padding-left: 0.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8vw;
}
.sideBar a :hover {
  background-color: #74ebd5;
  background-image: linear-gradient(270deg, #8cdacb 0%, #9face6 100%);
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.284);
  border-radius: 0.3vw;
  transition: var(--shortTransition);
}
.sideBar-icon {
  color: var(--darkBleu);
}
