.sideBar {
  background-color: var(--mediumBleu);
  width: 9.3vw;
  height: 89.9vh;
  position: fixed;
  top: 10.14vh;
}
.sideBar-top li {
  margin-bottom: 15vh;
  padding-top: 4vh;
  padding-bottom: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8vw;
  padding-left: 0.5vw;
  font-size: 1.25vw;
  color: var(--fontColor);
}
.sideBar-bottom li {
  margin-top: 2.5vh;
  padding-left: 0.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8vw;
  color: var(--fontColor);
}
.sideBar a :hover {
  background-color: var(--NBbackGroundColor);
  background-image: var(--NBbackGroundImage);
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.284);
  border-radius: 0.3vw;
  transition: var(--shortTransition);
}
.sideBar-icon {
  color: var(--darkBleu);
}
