* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background-color: var(--bodyColor);
  font-family:'Times New Roman', Times, serif;
}

button,select {
  cursor: pointer;
}
:root {
  /* colors / colors / colors / colors / colors */
  --bodyColor: #ffffff;
  --fontColor: #000000;
  --mainBleu: #6c757d;
  --mediumBleu: #adb5bd;
  --darkBleu: #4b5257;
  --lightBleu: #dee5ec;
  --searchBareColor: #ffffff;
  --text-primary: #dfb017;
  --border: #1f1e1e;
  /* gradient color / gradient color / gradient color / gradient color / gradient color  */
  /* shop gradient / shop gradient / shop gradient */
  --shopBackGroundColor: #d9afd9;
  --shopBackGroundImage: linear-gradient(270deg, #d9afd9 0%, #aad9de 100%);
  /* navBare gradient / navBare gradient / navBare gradient */
  --NBbackGroundColor: #74ebd5;
  --NBbackGroundImage: linear-gradient(270deg, #8cdacb 0%, #9face6 100%);
  /* animations / animations / animations / animations */
  --shortTransition: 0.2s;
}
[data-theme="dark"] {
  --bodyColor: #1d203a;
  --fontColor: #d9e5ee;
  --mainBleu: #9bb5cd;
  --mediumBleu: #0f1127;
  --darkBleu: #b0bcc5;
  --lightBleu: #4a4e77;
  --searchBareColor: #909aa1;
  --text-primary: #0f0f0f;
  --accent: #6a5acd;
  --border: #696969;
  /* gradient color / gradient color / gradient color / gradient color / gradient color  */
  /* shop gradient / shop gradient / shop gradient */
  --shopBackGroundColor: #21d4fd;
  --shopBackGroundImage: linear-gradient(270deg, #1ea7c6 0%, #a40beb 100%);
  /* navBare gradient / navBare gradient / navBare gradient */
  --NBbackGroundColor: #ff3cac;
  --NBbackGroundImage: linear-gradient(
    270deg,
    #ff3cac 0%,
    #7920c3 60%,
    #287af5 110%
  );
}

/* palette bleu https://coolors.co/palette/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529 */
