.profil-Btn-box {
  position: absolute;
  right: 3vw;
  top: 0.8vw;
}
.profil-Btn {
  display: flex;
  gap: 1vw;
  border: 1px solid var(--darkBleu);
  background-color: var(--lightBleu);
  border-radius: 1vw;
  padding: 0.7vh 0.8vw;
  width: 9.5vw;
  font-size: 0.8vw;
  cursor: pointer;
  background-color: var(--NBbackGroundColor);
  background-image: var(--NBbackGroundImage);
}
.profil-Btn li,
a {
  list-style: none;
  color: var(--fontColor);
  text-decoration: none;
  font-size: 1.3vw;
  padding-top: 0.2vh;
  margin-top: 0.3vh;
}
.profil-Btn h1 {
  list-style: none;
  text-decoration: none;
  font-size: 1.3vw;
  padding-top: 0.4vh;
}
.profil-Btn ul :hover {
  text-decoration: underline;
  border-radius: 0.3vw;
  transition: var(--shortTransition);
}
.profil-Btn-image {
  width: 2.5vw;
  height: 5vh;
  border: 1px solid var(--darkBleu);
  border-radius: 50%;
}
.profil-Btn .username-name:hover {
  text-decoration: none;
 
}